<div class="login-container">
    <div class="login-div">
        <div class="container">
            <div class="row">
                <form method="post">
                    <div class="offset-2 col-8 my-5">
                        <img src="../../assets/images/logo.png" alt="Logo" class="w-100" srcset="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address / User Name</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com / tony">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="axcderff">
                    </div>
                    <button type="submit" class="btn btn-default c-default ml-2"> Login In </button>
                </form>
            </div>
        </div>
    </div>
</div>