<div class="login-container signup-c">
    <div class="signup-div login-div">
        <div class="container">
            <div class="row">
                <form method="post">
                    <div class="offset-2 col-8 my-3">
                        <img src="../../assets/images/logo.png" alt="Logo" class="w-100" srcset="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="tony">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Second Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="tony">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="confirm password">
                    </div>
                    <button type="submit" class="btn btn-default c-default ml-2 mb-3"> Sign up </button>
                </form>
            </div>
        </div>
    </div>
</div>