<app-header></app-header>

<div class="home-container">
    <div class="container">
      <div class="row mt-5">
        <div class="col-6">
          <h1 class="title">
            Welcome to your professional community
          </h1>
          <div class="accordion mt-3" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Accordion Item #1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <img src="../../assets/images/r1.png" class="w-100" alt="" srcset="">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-4 mt-5">
          <h1 class="title">Find open jobs and internships</h1>
        </div>
        <div class="col-8 mt-5">
          <p class="ml-5">SUGGESTED SEARCHES</p>
          <div class="ml-5">
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Engineering</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Finance</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Retail Associate</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Customer service</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Operations</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Human Resources</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Marketing</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Research</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Support</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Real Estate</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Engineering</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Finance</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Retail Associate</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Customer service</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Operations</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Human Resources</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Marketing</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Research</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Support</h3></span>
            <span class="badge bg-secondary px-3 ml-2 mb-2" style="border-radius: 25px;"><h3 class="tag-font">Real Estate</h3></span>
        </div>
      </div>
    </div>
</div>

<!-- <app-login></app-login>
<app-signup></app-signup> -->